@font-face {
    font-family: 'Berlin Sans FB';
    font-style: normal;
    font-weight: normal;
    src:  url('/police/BRLNSR.woff') format('woff');
}
@font-face {
    font-family: 'Brush Script MT';
    font-style: normal;
    font-weight: normal;
    src:  url('/police/BRUSHSCI.TTF') format('truetype');
}
@font-face {
    font-family: 'Amsterdam';
    font-style: normal;
    font-weight: normal;
    src:  url('/police/Amsterdam.ttf') format('truetype');
}


@font-face {
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: normal;
    src:  url('/police/GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'torah sofer';
    font-style: normal;
    font-weight: normal;
    src:  url('/police/TORAH.TTF') format('truetype');
}
@font-face {
    font-family: 'DMSerif';
    font-style: normal;
    font-weight: bold;
    src:  url('/police/DMSerifDisplay-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Membra';
    font-style: normal;
    font-weight: normal;
    src:  url('/police/membra.ttf') format('truetype');
}

@font-face {
    font-family: 'pinyon';
    font-style: normal;
    font-weight: bold;
    src:  url('/police/PinyonScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'cormorand';
    font-style: normal;
    font-weight: bold;
    src:  url('/police/CormorantGaramond-Regular.ttf') format('truetype');
}



body {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    height: 100vh; /* Utiliser la hauteur de la fenêtre */
    background-image: url('/img/photoSaveTheDate.jpg');
    background-size: cover; /* Pour que l'image couvre toute la page */
    background-position: center; /* Pour centrer l'image */
    background-repeat: no-repeat; /* Pour éviter que l'image se répète */
}
#zoneTravail{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.stdText {
    color: rgb(0, 0, 0);
    /*font-weight: 900; !* Plus épais que 700 *!*/
    text-shadow: #000000 1px 0 7px;
    font-size:16vw;
    padding-right: 2vw;

}


#txtSaveTheDate{
    margin-top: 8.5vh;
    font-family: "Great Vibes", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900; /* Valeur typique pour le gras */


}

#decompte{
    margin-top: 8vh;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 20%;
    margin-bottom: 3rem;
}
.elementDecompte{
    margin-right: 1rem;
   /* border: 3px solid #000000;*/
    border-radius: 10px;
    width: 70px; /* Largeur fixe pour une taille uniforme */
    height: 70px; /* Hauteur fixe pour une taille uniforme */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
   /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.90); /* Ombre subtile en bas à droite */

}
.elementDecompte2{
   /*border: 3px solid #000000;*/

    border-radius: 10px;
    width: 70px; /* Largeur fixe pour une taille uniforme */
    height: 70px; /* Hauteur fixe pour une taille uniforme */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
   /* box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.90); /* Ombre subtile en bas à droite */
    padding-right: 2vw;


}
.texteDecompte {
    font-family:DMSerif , sans-serif;
    color: rgb(0, 0, 0);
    /*text-shadow:*/
    /*        2px 1px 0 #3a3a3a, !* Ombre à droite et en bas *!*/
    /*        2px 1px 0 #3a3a3a, !* Ombre à gauche et en haut *!*/
    /*        2px 1px 0 #3a3a3a, !* Ombre diagonale *!*/
    /*        2px 1px 0 #3a3a3a; !* Ombre diagonale inverse *!   */
    font-size: 5vw;
    font-weight: 700; /* Valeur typique pour le gras */
    /*text-shadow: #000000 1px 0 7px;*/
}

.chiffreDecompte {
    color: rgb(0, 0, 0);
    font-family: DMSerif, sans-serif;
    /*text-shadow:*/
    /*        2px 1px 0 #3a3a3a, !* Ombre à droite et en bas *!*/
    /*        2px 1px 0 #3a3a3a, !* Ombre à gauche et en haut *!*/
    /*        2px 1px 0 #3a3a3a, !* Ombre diagonale *!*/
    /*        2px 1px 0 #3a3a3a; !* Ombre diagonale inverse *!   */
    font-size: 12vw;
    align-items: center;
    justify-content: center;
    display: flex;

    text-shadow: #000000 1px 0 7px;
}


#decompte{

    padding-top: 95vw;
}
#date{
    color: rgb(0, 0, 0);
    font-weight: 700; /* Valeur typique pour le gras */
    text-shadow: #000000 1px 0 8px;
    /*text-shadow:*/
    /*        2px 1px 0 #3a3a3a, !* Ombre à droite et en bas *!*/
    /*        2px 1px 0 #3a3a3a, !* Ombre à gauche et en haut *!*/
    /*        2px 1px 0 #3a3a3a, !* Ombre diagonale *!*/
    /*        2px 1px 0 #3a3a3a; !* Ombre diagonale inverse *!*/

}
